:root {
  --header-collor: #212121;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --primary-title-collor: #ffffff;
  --accent-color: #2196f3;
  --back-color: #2f303a;
  --last-contact-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-width: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.image-item {
  display: block;
}

header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-collor);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.main-btn-item {
  padding: 10px 32px 10px 32px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background-color: var(--primary-title-collor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-icon {
  fill: currentColor;
  width: 15px;
  height: 15px;
}

.modal-btn:hover .modal-icon,
.modal-icon:focus .modal-icon {
  fill: var(--accent-color);
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.modal-form-wraper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1,16px;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-pictures {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-pictures {
  fill: var(--accent-color);
}

.modal-form-checkbox-lable::before {
  position: relative;
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #303030;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 40px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-lable::before {
  background-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-lable::before {
  outline: 2px solid var(--accent-color);
}

.agree {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.modal-form-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #188CE8;
  color: var(--primary-title-collor);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form {
  position: relative;
  margin-left: 93px;
}

.footer-title-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-collor);
}

.footer-form-wraper {
  display: flex;
  margin-top: 20px;
}

.footer-form-input {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: var(--back-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--second-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
}

.footer-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-button-mailing {
  padding-left: 29px;
  display: flex;
  width: 200px;
  height: 50px;
  color: var(--primary-title-collor);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-pictures {
  margin-left: 10px;
}

.footer-icon-section {
  display: block;
  align-items: center;
  justify-content: center;
}

.footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-collor);
  margin-bottom: 20px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
}

.footer-social-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-title-collor);
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-collor);
}

.icon-bottom {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover .icon-bottom .footer-link:focus .icon-bottom {
  fill: var(--primary-title-collor);
}

.social-title {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-collor);
}

.icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .icon .social-link:focus .icon {
  fill: var(--primary-title-collor);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-title-collor);
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-btn-icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact__list {
    display: none;
  }
}

.menu-nav {
  display: block;
  overflow: auto;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
}

.menu-nav__list {
  margin-bottom: 20vw;
}

@media screen and (max-width: 479px) {
  .menu-nav__list {
    font-size: 8vw;
  }
}

.menu-nav__item {
  padding-left: 25px;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact {
  padding-left: 25px;
  overflow: auto;
}

.menu-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .menu-contact__link {
    font-size: 8vw;
  }
}

.menu-contact__link:hover, .menu-contact__link:focus {
  color: var(--accent-color);
}

.menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact__list {
  margin-bottom: 64px;
}

.menu-contact__link-post {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .menu-contact__link-post {
    font-size: 8vw;
  }
}

.menu-contact__link-post:hover, .menu-contact__link-post:focus {
  color: var(--accent-color);
}

.menu-social {
  display: flex;
  flex-wrap: wrap;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .menu-social__link {
    font-size: 8vw;
  }
}

.menu-social__list:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.main-title {
  padding: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: auto;
  margin-bottom: 30px;
  color: var(--primary-title-collor);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .page-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .page-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-desktop2x.jpg");
  }
}

.page-section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-icon__list {
  width: 450px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title-icon__item {
  display: block;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;
}

.block-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.sub-section {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.second-section {
  padding-top: 60px;
}

.title-section-text:not(:last-child) {
  margin-right: 30px;
}

.second-pre-section {
  display: flex;
  flex-direction: column;
}

.sub-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.image-container {
  display: flex;
}

.section-image {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-image {
  display: block;
  max-width: 100%;
}

.pre-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.image-block-wrap {
  position: relative;
}

.text-image {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-collor);
}

.image-title:not(:last-child) {
  margin-right: 30px;
}

.third-section {
  background: #F5F4FA;
}

.third-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.third-section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.box-image {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.image-text {
  text-align: center;
}

.image-text:not(:last-child) {
  margin-right: 30px;
}

.sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.sub-title-name {
  margin-bottom: 10px;
}

.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.paragraf-title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-title-collor);
}

.section-client {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 50px;
}

.client-title {
  display: flex;
  justify-content: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.main-footer-container {
  display: flex;
  align-items: baseline;
}

.contact-info {
  display: block;
  margin-right: 70px;
}

.section-footer {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 0;
  padding-left: 0;
}

.street {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-collor);
  margin-bottom: 9px;
}

.contact-footer {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--last-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:focus, .contact-footer:hover {
  color: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-collor);
}

.footer-logo-position {
  display: block;
  margin-bottom: 20px;
}

.contact-footer:not(:last-child) {
  margin-bottom: 9px;
}

.about-menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-section {
  display: block;
  flex-direction: row;
}

.button-menu:not(:last-child) {
  margin-right: 8px;
}

.site-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: hidden;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-collor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-item {
  padding: 6px 22px 6px 22px;
}

.about-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.about-item {
  padding: 20px 24px 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.about-title-item {
  margin-bottom: 4px;
}

.border {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border:hover, .border:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border-item {
  position: relative;
  overflow: hidden;
}

.border-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1,56px;
  letter-spacing: 0.03em;
  color: var(--primary-title-collor);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border:hover .border-text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */