:root {
  --header-collor: #212121;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --primary-title-collor: #ffffff;
  --accent-color: #2196f3;
  --back-color: #2f303a;
  --last-contact-color: rgba(255, 255, 255, 0.6);
  --button-bg: #F5F4FA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal__button, .footer__form-button, .main-btn {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-collor);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 320) {
  body {
    overflow-x: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-width: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-collor);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.main-btn-item {
  padding: 10px 32px 10px 32px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-collor);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header_logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header_logo {
    margin-right: 93px;
  }
}

.modal--backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal--backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 93px 15px;
  }
}

.modal__container {
  padding: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-title-collor);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--is-hidden .modal__container {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5, 0.5);
}

@media screen and (max-width: 1199px) {
  .modal__container {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__container {
    width: 528px;
  }
}

.modal__container {
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--primary-text-color);
  background-color: var(--primary-title-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

.modal__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__field:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.modal__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal__input-container {
  position: relative;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus-within .modal__input {
  outline: none;
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus-within .modal__icon {
  fill: var(--accent-color);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__field:focus-within .modal__textarea {
  outline: none;
  border-color: var(--accent-color);
}

.modal__checkbox {
  margin-bottom: 30px;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 9px;
  padding: 0;
  fill: var(--primary-title-collor);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

.modal__checkbox-input:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  fill: var(--primary-title-collor);
  background-origin: border-box;
  border-color: transparent;
}

.modal__checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-text {
    font-size: 14px;
  }
}

.modal__link {
  color: var(--accent-color);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
  }
}

.modal__button-container {
  text-align: center;
}

.modal__button {
  padding: 10px 55px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: getColor("bg-primary");
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form-container {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 12px;
  }
}

.footer__form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-collor);
}

.footer__form-input {
  width: 450px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
  }
}

.footer__form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer__form-input::placeholder {
  color: inherit;
  line-height: inherit;
}

.footer__form-button {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 29px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-button:hover, .footer__form-button:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__form-pictures {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer__social-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-container {
    margin-right: 93px;
  }
}

.footer__social-title {
  margin-bottom: 20px;
  color: var(--primary-title-collor);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-width: 44px;
  min-height: 44px;
  color: var(--primary-title-collor);
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-collor);
}

.footer__social-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover .footer__social-icon .footer__social-link:focus .footer__social-icon {
  fill: var(--primary-title-collor);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-collor);
}

.icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .icon .ssocial__link:focus .icon {
  fill: var(--primary-title-collor);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-title-collor);
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--header-collor);
  background-color: transparent;
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.close-btn-icon {
  width: 40px;
  height: 40px;
}

.menu__nav {
  display: block;
}

.menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-collor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

@media screen and (max-width: 479px) {
  .menu__nav-link {
    font-size: 8vw;
  }
}

.menu__nav-link:hover, .menu__nav-link:focus {
  color: #2196f3;
}

.menu__nav-list {
  flex-grow: 1;
  margin-bottom: 120px;
}

.menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contact-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contact-link:hover, .menu__contact-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 376px) {
  .menu__contact-link {
    font-size: 32px;
  }
}

.menu__contact-link--mail {
  font-size: 24px;
  color: var(--second-text-color);
}

.menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contact-list {
  margin-bottom: 64px;
}

.menu__social {
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu__social {
    display: none;
  }
}

.menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__social-item:not(:last-child) {
  padding-right: 10px;
}

.menu__social-item:not(:first-child) {
  padding-left: 10px;
}

.menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 414px) {
  .menu__social-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  color: getColor("title-primary");
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-item--current {
  position: relative;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover, .header__nav-link:focus {
  color: var(--accent-color);
}

.header__nav-link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact__list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .contact__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.burger__btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.burger__btn:hover, .burger__btn:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger__btn {
    display: none;
  }
}

.burger__btn-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.main-title {
  text-overflow: clip;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--primary-title-collor);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1199px) {
  .main-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.page-section {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: var(--back-color);
}

@media screen and (max-width: 767px) {
  .page-section {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/mobile/hero.jpg");
    background-size: 480px 400px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/mobile/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/tablet/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/tablet/hero-tablet@2x.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .page-section {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .page-section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/pc/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/pc/hero-desktop@2x.jpg");
  }
}

.main-btn {
  padding: 10px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .second-section__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .second-section__list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .second-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .second-section__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .second-section__item {
    width: 270px;
  }
  .second-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.second-section__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
}

.second-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.second-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-collor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .second-section__title {
    text-align: center;
  }
}

.about {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
  align-items: center;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-collor);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-title-collor);
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__name {
  font-weight: 500;
  font-size: inherit;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.team__container {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .team__container {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding: 30px 32px;
  }
}

.section-client {
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__list {
  display: flex;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .client__list {
    flex-wrap: wrap;
  }
}

.client__item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .client__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.clien__link:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back-color);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer__container-contact {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container-contact {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container-contact {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-title-collor);
  text-align: center;
}

.footer__address-street {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-collor);
  margin-bottom: 8px;
  margin-top: 20px;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--last-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.footer__link:focus, .footer__link:hover {
  color: var(--accent-color);
}

.filter__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter__list {
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin: 7px 4px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--primary-text-collor);
  background-color: var(--button-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--primary-title-collor);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .works__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.works__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .works__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .works__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .works__item {
    width: calc((100% - 90px) / 3);
  }
}

.works__item:hover, .works__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__img-container {
  position: relative;
  overflow: hidden;
}

.works__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-title-collor);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover .works__text,
.works__link:focus .works__text {
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .works__text {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .works__text {
    padding: 63px 24px;
  }
}

.works__content {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
}

.works__content:hover, .works__content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works__item:first-child .works__content {
    padding-bottom: 56px;
  }
}

.works__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works__name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */