.third-section{
    background: #F5F4FA;
  }
  
  .third-section{
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .th-section {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }

  .box-image{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
  }
  
  .image-section{
    display: flex;
    justify-content: center
  }
  
  .image-text{
    text-align: center;
  }
  
  .image-text:not(:last-child){
    margin-right: 30px;
  }

  .sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  .sub-title-name{
    margin-bottom: 10px;
  }
  
  .job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  
  .paragraf-title{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-title-collor);
  }