.footer__form{
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__form-container{
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 12px;
  }
}

.footer__form-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-collor);
}


.footer__form-input{
  width: 450px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border-color 250ms $animation-cubic;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: inherit;
    line-height: inherit;
  }
}

.footer__form-button{
  @extend %button;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 29px;
  border: none;

  transition: background-color 250ms $animation-cubic;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.footer__form-pictures {
  fill: currentColor;
}
