.main-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-title-collor);
    background-color: var(--accent-color);
    border-radius: 4px;
}

.main-btn-item{
    padding: 10px 32px 10px 32px;
}