.section {
    @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .section__title {
    margin-bottom: 30px;
  
    color: getColor('title-primary');
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  
    @media screen and (max-width: 1199px) {
      font-size: 28px;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }