:root {
    --header-collor: #212121;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --primary-title-collor: #ffffff;
    --accent-color: #2196f3;
    --back-color: #2f303a;
    --last-contact-color: rgba(255, 255, 255, 0.6);
}